CAF-News Editorial Policy

This note tries to answer the questions that I am asked from time to
time.

I am asked:

How are articles selected for CAF-news?
Is CAF-news biased? (yes!)
What are you doing to minimize the problems caused by
   the lag time between CAF-talk and CAF-news?
Why are you usually the largest contributor to CAF-news?

------
Here is kind of how I select articles for CAF-news:

(in alphabetical order)

Important - If someone wants to understand Computers and Academic
    Freedom, he or she should not be required to read all the notes
    of caf-talk. Reading CAF-news (starting with the monthlies) should
    suffice. We are selecting for posterity.
Interesting - Reports of real cases add drama and remind everyone that
    computer policy effects people.
Irredundant -- Often a later article will do a good job at summarize an
    earlier article. In such cases, I don't selected the earlier article.
On topic - A while back, there was a big discussion about the philosophy
    of the Constitution. It was interesting, but had little to do with
    computers and academic freedom. I didn't include any notes on this
    topic.
Short - I don't have any problem with long notes, but I want only between
    6 and 12 notes per week. Cutting down to so few notes is very difficult,
    but it is the most important function of caf-news.
Representative - The reader should have confidence that major 
    aspects of the issues have been brought out.


-----
This is my philosophy on bias in editing

I do not believe that an editor (or writer) can be unbiased. Editing
CAF-news involves selecting the "best" set of notes of the week. The
choice of the best notes is inherently subjective; it depends on my
bias.

Although CAF-news is biased by its editor, I have taken steps to
insure fairness.

1. The flyer from CAF discloses the nature of CAF-news

"comp-academic-freedom-news
        - about once a week you'll receive a compilation of the best
          notes of the week. (I play the editor for this one)"

2. CAF-talk is an open forum
3. I make no comments in the body of notes (ala Telecom-digest)
4. I post my abstract of CAF-news in CAF-talk
5. I claim no monopoly on selection notes from CAF-talk. Anyone
can create a competing digest. Although, I won't distribute the
CAF-news mailing list, I will carry advertisements for a competing
digest in CAF-news. Also the listserv software is available via
anonymous FTP.

-----
Notes on slow CAF-newses (sp?)

Ideally, CAF-news would come out on Sunday or Monday, just a day or
two after the close of the week. This ideal is seldom met. Issue 1.23
was almost a week "late".

Sometimes important notes get posted to CAF-talk between the CAF-news
deadline and its publication. When people notice that CAF-news is
doesn't include these notes, they fear that the editor is excluding
good notes.

I think this fear can be put to rest by 

1) posting the CAF-newses date along with its abstract in CAF-talk

2) Adding something like "This discussion is continuing in CAF-talk,
expect important notes on this topic in the next issue" to the
abstract.


--------

Possible reasons why I'm often the largest contributor to CAF-news
(all of which may be true to some degree):

  I'm the largest contributor CAF-talk
  Many of my posts are informative posts from books
  I start many of the new discussions
  Some of my posts are anonymous posts from others
  My posts really are among the best
  I just think my posts are among the best.


---

Carl M. Kadie
